<div class="container text-center ">
<div class="row" id=board>  
  <div class="col text-white" *ngFor="let kat of game">
    <h1>{{kat.name}}</h1>
    <div class="row " *ngFor="let frage of kat.fragen"> 
      <button *ngIf="!frage.activ"type="button" class="btn  btn-outline-secondary" (click)="pushFrage(frage)"><p class=display-1>{{frage.value}}</p></button>
      <button *ngIf="frage.activ" type="button" class="btn  btn-outline-primary" (click)="pushFrage(frage)"><p class=display-1>{{frage.value}}</p></button>
    </div>
  </div>
</div>
</div>

<app-gm-overlay  
  [currentFrage]="currentFrage" 
  [game]="game" 
  [show]="showOverlay" 
  (gamechange)="onGameChange($event)" 
  (showOverlay)="showOverlay = $event">
</app-gm-overlay>