.container-fluid {
	min-height:100vh;
}
.row {
	min-height: 18vh;
}

app-gm-overlay {
	position: absolute;
  align: center;
  top: 50%;
  left: 50%;
  font-size: 100px;
  background-color: red;
  transform: translate(-50%,-50%);
}
