div(class="row d1 text-white d-flex")
	each kathegorie in fragen
		div(class="col d2")
			h1(class title)= kathegorie.name 
				each frage in kathegorie.fragen
					div(class="row-sm d3 rounded") 
						p= frage.active 
						case frage.activ
							when true 
								p(class="display-1")= frage.value 
							when false
								p(class="display-1 text-secondary")  
							default
								p(class="display-1")= frage.value 
					
