<ng-template #gmtemplate contentlet-c="close" let-d="dismiss">
  <!--sharedgm-Overlay start-->
  <div class="modal-header text-center">
    <!--sharedgm-Overlay stop-->
    <h4 class="modal-title justify-content-center">
      {{ currentFrage?.value }}
    </h4>
    <!--sharedgm-Overlay start-->
    <button
      (click)="closeQ()"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <div class="modal-body p-4 text-center">
    <div class="row">
      <h3 class="col">Frage:</h3>
      <h3 class="col">Antwort:</h3>
    </div>
    <div class="row">
      <div
        class="col d-flex justify-content-center align-items-center display-6"
        [innerHTML]="currentFrage2"
      ></div>
      <div
        class="col d-flex justify-content-center align-items-center display-6"
        [innerHTML]="currentAntwort"
      ></div>
    </div>
    <!--sharedgm-Overlay stop-->
    <div>
      <div class="flex-nowrap p-0">
        <button
          (click)="pushFrage2(currentFrage?.frage ?? '')"
          type="button"
          class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"
        >
          Share Frage
        </button>
        <button
          (click)="pushAntwort(currentFrage?.antwort ?? '')"
          type="button"
          class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 horder-end"
        >
          Share Antwort
        </button>
      </div>
      <div class="row">
        <div class="row border-top" *ngIf="currentFrage?.type == 'Input'">
          <div class="col p-3" *ngFor="let player of player_liste">
            <h3 class="row">{{ player.name }}</h3>
            <div class="row">{{ player.input || player.inputState }}</div>
          </div>
          <input #rangeInput id="rangeInput" type="range" />
        </div>
        <div *ngIf="currentFrage?.type == 'Buzzer'" class="text-center">
          <button
            *ngIf="!buzzerActiv"
            class="col btn border w-100"
            (click)="activateBuzzer()"
          >
            🧨
          </button>
          <button
            *ngIf="buzzerActiv"
            class="col btn border w-100"
            (click)="testBuzzer()"
          >
            ♻️
          </button>
        </div>
      </div>
    </div>
    <!--sharedgm-Overlay start-->
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col" *ngFor="let player of player_liste">
        <div class="row text-center">{{ player.name }}</div>
        <div class="row">
          <button
            *ngIf="didPlayergiveAnswer(player.name) == 0"
            class="btn border"
            (click)="changeMoney(player.name, currentFrage?.value ?? 0, 1)"
          >
            ✅
          </button>
        </div>
        <div class="row">
          <button
            *ngIf="didPlayergiveAnswer(player.name) == 0"
            class="btn border"
            (click)="changeMoney(player.name, currentFrage?.value ?? 0, -1)"
          >
            ❌
          </button>
        </div>
        <div class="row">
          <button
            *ngIf="didPlayergiveAnswer(player.name) != 0"
            class="btn border"
            (click)="changeMoney(player.name, currentFrage?.value ?? 0, 1)"
          >
            ♻️
          </button>
        </div>
      </div>
    </div>
    <!--sharedgm-Overlay stop-->
  </div>
</ng-template>
