<div class="container text-center">
  <div class="row" id="board">
    <div class="col text-white" *ngFor="let kat of game">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Kathegorie</span>
        <input
          (change)="changeCat(i.value, kat.name)"
          #i
          type="text"
          class="form-control"
          [placeholder]="kat.name"
        />
      </div>
      <h1></h1>
      <div class="row" *ngFor="let frage of kat.fragen">
        <button
          *ngIf="frage.activ"
          type="button"
          class="btn btn-outline-primary"
          (click)="viewOverlay(frage)"
        >
          <p class="display-1">{{ frage.value }}</p>
        </button>
      </div>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="addQuestion(kat)"
      >
        <p class="display-1">+</p>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-outline-danger col"
      (click)="addCategory()"
    >
      <p class="display-1">+</p>
    </button>
  </div>
</div>

<div class="footer">
  <div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input
      class="form-control"
      (change)="onFileSelected($event)"
      #fileUpload
      type="file"
      id="formFile"
    />
    <button type="submit" class="btn btn-primary mb-3" (click)="buildGame()">
      buildGame
    </button>
    <a
      class="display-6"
      [href]="download"
      (click)="downloader()"
      download="game.json"
      >save</a
    >
  </div>
</div>

<app-gm-overlay
  [currentFrage]="currentFrage"
  [game]="game"
  [show]="showOverlay"
  (gamechange)="onGameChange($event)"
  (showOverlay)="showOverlay = $event"
></app-gm-overlay>
